* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0; /* Asegúrate de que esté detrás de otros elementos */
    overflow: hidden;
}



body {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(48, 64, 64, 1.0);
    background: -webkit-radial-gradient(center, rgba(48, 64, 64, 1.0) 0%, rgba(0, 0, 0, 1.0) 100%);
    background: -moz-radial-gradient(center, rgba(48, 64, 64, 1.0) 0%, rgba(0, 0, 0, 1.0) 100%);
    background: radial-gradient(ellipse at center, rgba(48, 64, 64, 1.0) 0%, rgba(0, 0, 0, 1.0) 100%);
    font-family: 'Shadows Into Light', cursive;
    min-height: 100vh;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 45px;
    
}

.title {
    font-size: 2.8em;
    color: #fff;
    user-select: none;
    cursor: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 290px;
    text-shadow: 
    0 0 5px rgba(119, 3, 252, 0.7),  
    0 0 10px rgba(119, 3, 252, 0.7), 
    0 0 20px rgba(119, 3, 252, 0.8), 
    0 0 30px rgba(119, 3, 252, 0.9), 
    0 0 40px rgba(119, 3, 252, 1); 
    z-index: 2;
}

.navigation a {
    position: relative;
    font-size: 1.1rem;
    color: #7411ff;
    text-decoration: none;
    font-weight: 700;
    margin-left: 25px;
}

.navigation a::after {
    content: "";
    position: absolute;
    width: 100%;
    bottom: -6px;
    left: 0;
    height: 2px;
    background: #7411ff;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .4s;
}

.navigation a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.navigation .login {
    width: 140px;
    height: 50px;
    background: transparent;
    border: 2px solid #7703fc;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1rem;
    color: lightgrey;
    font-weight: 600; 
    position: relative; 
    overflow: hidden; 
    transition: all 0.3s ease; 
    
}

.navigation .login:hover {
    color: #fff; 
    border-color: #7703fc; 
    box-shadow: 0 0 10px rgba(119, 3, 252, 0.7), 
                0 0 20px rgba(119, 3, 252, 0.6), 
                0 0 30px rgba(119, 3, 252, 0.5), 
                0 0 40px rgba(119, 3, 252, 0.4); 
    text-shadow: 0 0 5px rgba(119, 3, 252, 1), 
                 0 0 10px rgba(119, 3, 252, 0.9); 
}

.navigation .login:active {
    box-shadow: 0 0 5px rgba(119, 3, 252, 0.7), 
                0 0 10px rgba(119, 3, 252, 0.6);
}

.navigation .pause {
    width: 50px;
    height: 50px;
    background: transparent;
    border: 2px solid #7703fc;
    border-radius: 90px;
    cursor: pointer;
    font-size: 0.9rem;
    color: lightgrey;
    font-weight: 600; 
    position: relative; 
    overflow: hidden; 
    transition: all 0.3s ease;   
}

.navigation .pause:hover {
    color: #fff; 
    border-color: #7703fc; 
    box-shadow: 0 0 10px rgba(119, 3, 252, 0.7), 
                0 0 20px rgba(119, 3, 252, 0.6), 
                0 0 30px rgba(119, 3, 252, 0.5), 
                0 0 40px rgba(119, 3, 252, 0.4); 
    text-shadow: 0 0 5px rgba(119, 3, 252, 1), 
                 0 0 10px rgba(119, 3, 252, 0.9); 
}


.deep {
    position: relative;
    width: 350px;
    height: 380px;
    background: transparent;
    border: 2px solid rgba(119, 3, 252, 0.4);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 3px rgba(119, 3, 252, 0.7), 
                0 0 6px rgba(119, 3, 252, 0.6), 
                0 0 9px rgba(119, 3, 252, 0.5), 
                0 0 12px rgba(119, 3, 252, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: transform .5s ease height .2s ease;
    transform: scale(0);
}

.deep.active-ntb {
    transform: scale(1);
}

.deep.active {
    height: 455px;
}

.deep .container-form {
    width: 100%;
    padding: 30px;
}

.deep .container-form.login {
    transition: .17s ease;
    transform: translateX(0);
}

.deep.active .container-form.login {
    transition: none;
    transform: translateX(-400px);
}

.deep .container-form.register {
    position: absolute;
    transition: none;
    transform: translateX(400px);
}

.deep.active .container-form.register {
    transition: transform .17s ease;
    transform: translateX(0);
}

.deep .close-icon {
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background-color: #7703fc;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;
    font-size: 1.8em;
    color: #F1EFEF;
    border-bottom: lightgrey; 
    box-shadow: 0 0 10px rgba(119, 3, 252, 0.7), 
                0 0 20px rgba(119, 3, 252, 0.6), 
                0 0 30px rgba(119, 3, 252, 0.5), 
                0 0 40px rgba(119, 3, 252, 0.4); 
    
}

.container-form h2 {
    font-size: 2em;
    color: #F1EFEF;
    text-align: center;
}

.container-input {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #7703fc;
    margin: 30px 0;
}

.container-input::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 1px; 
    height: 1px; 
    width: 100%;
    box-shadow: 0 0 10px rgba(119, 3, 252, 0.7), 
                0 0 20px rgba(119, 3, 252, 0.6), 
                0 0 30px rgba(119, 3, 252, 0.5), 
                0 0 40px rgba(119, 3, 252, 0.4);
}

.container-input label {
    position: absolute;
    top: 75%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    font-weight: 600;
    pointer-events: none;
    transition: .4s;
    color: #F1EFEF;
}


.container-input input:focus~label,
.container-input input:valid~label {
    top: -8px;
}

.container-input input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: lightgrey ;
    padding: 0 35px 0 5px;
}

.container-input .icon {
    position: absolute;
    right: 8px;
    font-size: 1.8em;
    color: #7703fc;
    line-height: 57px;
}


.remember {
    font-size: .9em;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    color: #F1EFEF;
}

.remember label input {
    accent-color: #7411ff;
    margin-right: 3px;
}

.remember a {
    color: #F1EFEF;
    text-decoration: none;
}

.remember a:hover {
    text-decoration: underline;
    
}

.ntb {
    width: 100%;
    height: 45px;
    border: none;
    outline: none;
    border: 2px solid #7703fc; 
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    background: transparent;
    color: lightgrey; 
}

.ntb:hover {
    color: #fff; 
    border-color: #7703fc; 
    box-shadow: 0 0 10px rgba(119, 3, 252, 0.7), 
                0 0 20px rgba(119, 3, 252, 0.6), 
                0 0 30px rgba(119, 3, 252, 0.5), 
                0 0 40px rgba(119, 3, 252, 0.4); 
    text-shadow: 0 0 5px rgba(119, 3, 252, 1), 
                 0 0 10px rgba(119, 3, 252, 0.9); 
}

.register {
    font-size: .9em;
    color: #F1EFEF;
    text-align: center;
    margin: 25px 0 10px;
}

.register p a {
    color: #F1EFEF;
    text-decoration: none;
}

.register p a:hover {
    text-decoration: underline;
}


@media(max-width: 768px) {
    

    .title {
        font-size: 2em;
        display: flex;
        flex-direction: row;
        margin-right: 0px;
        
    }

    .navigation a { 
        font-size: 0.8rem;
        margin-left: 20px;
    }

    .navigation .login {  
        width: 65px;
        height: 40px;
    }
    
    .navigation .pause {
  
        width: 40px;
        height: 40px;
        
    }

    .deep.active {
        height: 380px;
    }

    .container-form {
        padding: 25px;
    }

    .container-input {
        margin: 20px 0;
    }

    .remember {
        font-size: 0.8em;
    }

    .ntb {
        height: 40px;
        font-size: 0.9em;
    }

    .register {
        font-size: 0.8em;
        margin: 20px 0 10px;
    }
}
