* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0; 
    overflow: hidden;
}



body {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(48, 64, 64, 1.0);
    background: -webkit-radial-gradient(center, rgba(48, 64, 64, 1.0) 0%, rgba(0, 0, 0, 1.0) 100%);
    background: -moz-radial-gradient(center, rgba(48, 64, 64, 1.0) 0%, rgba(0, 0, 0, 1.0) 100%);
    background: radial-gradient(ellipse at center, rgba(48, 64, 64, 1.0) 0%, rgba(0, 0, 0, 1.0) 100%);
    font-family: 'Shadows Into Light', cursive;
    min-height: 100vh;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 25px;
    
}

.title {
    font-size: 2.8em;
    color: #f0f0f0;
    user-select: none;
    cursor: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 290px;
    text-shadow: 
    0 0 5px rgba(119, 3, 252, 0.7),  
    0 0 10px rgba(119, 3, 252, 0.7), 
    0 0 20px rgba(119, 3, 252, 0.8), 
    0 0 30px rgba(119, 3, 252, 0.9), 
    0 0 40px rgba(119, 3, 252, 1); 
    z-index: 2;
}

.navigation a {
    position: relative;
    font-size: 1.1rem;
    color: #7411ff;
    text-decoration: none;
    font-weight: 700;
    margin-left: 25px;
}

.navigation a::after {
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
    height: 2px;
    background: #7411ff;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .4s;
}

.navigation a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.navigation .login {
    width: 100px;
    height: 50px;
    background: transparent;
    border: 2px solid #7703fc;
    border-radius: 6px;
    backdrop-filter: blur(2px);
    cursor: pointer;
    font-size: 1.1rem;
    color: #f0f0f0;
    font-weight: 600; 
    position: relative; 
    overflow: hidden; 
    transition: all 0.3s ease; 
    
}

.navigation .login:hover {
    color: #f0f0f0; 
    border-color: #7703fc; 
    box-shadow: 0 0 10px rgba(119, 3, 252, 0.7), 
                0 0 20px rgba(119, 3, 252, 0.6), 
                0 0 30px rgba(119, 3, 252, 0.5), 
                0 0 40px rgba(119, 3, 252, 0.4); 
    text-shadow: 0 0 5px rgba(119, 3, 252, 1), 
                 0 0 10px rgba(119, 3, 252, 0.9); 
}

.navigation .login:active {
    box-shadow: 0 0 5px rgba(119, 3, 252, 0.7), 
                0 0 10px rgba(119, 3, 252, 0.6);
}

.navigation .pause {
    width: 100px;
    height: 50px;
    background: transparent;
    border: 2px solid #7703fc;
    border-radius: 6px;
    backdrop-filter: blur(2px);
    cursor: pointer;
    font-size: 1.1rem;
    color: #f0f0f0;
    font-weight: 600; 
    position: relative; 
    overflow: hidden; 
    transition: all 0.3s ease;  
}

.navigation .pause:hover {
    color: #f0f0f0; 
    border-color: #7703fc; 
    box-shadow: 0 0 10px rgba(119, 3, 252, 0.7), 
                0 0 20px rgba(119, 3, 252, 0.6), 
                0 0 30px rgba(119, 3, 252, 0.5), 
                0 0 40px rgba(119, 3, 252, 0.4); 
    text-shadow: 0 0 5px rgba(119, 3, 252, 1), 
                 0 0 10px rgba(119, 3, 252, 0.9); 
}


.deep {
    position: relative;
    width: 350px;
    height: 380px;
    background: transparent;
    border: 2px solid rgba(119, 3, 252, 0.4);
    border-radius: 20px;
    backdrop-filter: blur(4px);
    box-shadow: 0 0 3px rgba(119, 3, 252, 0.7), 
                0 0 6px rgba(119, 3, 252, 0.6), 
                0 0 9px rgba(119, 3, 252, 0.5), 
                0 0 12px rgba(119, 3, 252, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: transform .5s ease height .2s ease;
    transform: scale(0);
    margin-top: -140px;
}

.deep.active-ntb {
    transform: scale(1);
}

.deep.active {
    height: 405px;
}

.deep .container-form {
    width: 100%;
    padding: 30px;
}

.deep .container-form.login {
    transition: .17s ease;
    transform: translateX(0);
}

.deep.active .container-form.login {
    transition: none;
    transform: translateX(-400px);
}

.deep .container-form.register {
    position: absolute;
    transition: none;
    transform: translateX(400px);
}

.deep.active .container-form.register {
    transition: transform .17s ease;
    transform: translateX(0);
}

.deep .close-icon {
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background-color: #7703fc;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;
    font-size: 1.8em;
    color: #F1EFEF;
    border-bottom: #f0f0f0; 
    box-shadow: 0 0 10px rgba(119, 3, 252, 0.7), 
                0 0 20px rgba(119, 3, 252, 0.6), 
                0 0 30px rgba(119, 3, 252, 0.5), 
                0 0 40px rgba(119, 3, 252, 0.4); 
    
}

.container-form h2 {
    font-size: 2em;
    color: #F1EFEF;
    text-align: center;
}

.container-input {
    position: relative;
    width: 100%;
    height: 30px;
    border-bottom: 2px solid #7703fc;
    margin: 30px 0;
}

.container-input::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 2px; 
    height: 1px; 
    width: 100%;
    box-shadow: 0 0 10px rgba(119, 3, 252, 0.7), 
                0 0 20px rgba(119, 3, 252, 0.6), 
                0 0 30px rgba(119, 3, 252, 0.5), 
                0 0 40px rgba(119, 3, 252, 0.4);
}

.container-input label {
    position: absolute;
    top: 60%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    font-weight: 600;
    pointer-events: none;
    transition: 0.4s;
    color: #F1EFEF;
}


.container-input input:focus~label,
.container-input input:valid~label {
    top: -8px;
}

.container-input input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 0.9em;
    color: #f0f0f0 ;
    padding: 0 45px 0 5px;
}

.container-input .icon {
    position: absolute;
    right: 8px;
    font-size: 1.7em;
    color: #7703fc;
    line-height: 20px;
}

.remember {
    font-size: .9em;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    color: #F1EFEF;
}

.remember label input {
    accent-color: #7411ff;
    margin-right: 3px;
}

.remember a {
    color: #F1EFEF;
    text-decoration: none;
}

.remember a:hover {
    text-decoration: underline;
    
}

.ntb {
    width: 100%;
    height: 45px;
    border: none;
    outline: none;
    border: 2px solid #7703fc; 
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    background: transparent;
    color: #f0f0f0; 
}

.ntb:hover {
    color: #f0f0f0; 
    border-color: #7703fc; 
    box-shadow: 0 0 10px rgba(119, 3, 252, 0.7), 
                0 0 20px rgba(119, 3, 252, 0.6), 
                0 0 30px rgba(119, 3, 252, 0.5), 
                0 0 40px rgba(119, 3, 252, 0.4); 
    text-shadow: 0 0 5px rgba(119, 3, 252, 1), 
                 0 0 10px rgba(119, 3, 252, 0.9); 
}

.register {
    font-size: 0.9em;
    color: #F1EFEF;
    text-align: center;
    margin: 25px 0 5px;
}

.register p a {
    color: #F1EFEF;
    text-decoration: none;
}

.register p a:hover {
    text-decoration: underline;
}

#footer-section {
    position: absolute; 
    background-color: transparent;
    backdrop-filter: blur(6px); 
    color: #f0f0f0;
    margin-top: 450px;
    border-top: 2px solid #7703fc;
    box-shadow: 0 0 10px #f0f0f0;
    width: 100%;
}

footer {
    display: grid;
    grid-template-columns: 5fr;
    grid-template-rows: auto auto auto;
    
    
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    
}

.name-list {
    grid-column: 1 / -1;
    margin-left: 50px;  
    
}

.name-item {
    font-size: 2em;
    font-weight: bold;
    background: linear-gradient(to right, rgba(119, 3, 252, 1) 10%, rgba(137, 79, 255, 1) 30%, rgba(213, 182, 255, 1) 80%);
    -webkit-background-clip: text;
    color: transparent;
}


.job-title {
    font-size: 1em;
    font-weight: bold;
    margin-top: 8px;
}

.link-list {
    grid-column: 2 / -1;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.6em;
    font-size: 1.6em;
    margin-right: 50px;   
    
}

.link {
    cursor: pointer;
    text-decoration: none;
    color: #f0f0f0;
}

.link:hover {
    color: #f0f0f0; 
    border-color: #7703fc; 
    text-shadow: 0 0 5px rgba(119, 3, 252, 1),
                 0 0 10px rgba(119, 3, 252, 0.9);   
    
}

.copyright {
    grid-column: 1 / -1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1em;
    margin: 15px;
    margin-left:285px;
    filter: drop-shadow(3px 3.42184px 1.23px rgba(119, 3, 252, 1));
}


@media(max-width: 768px) {
    

    .title {
        font-size: 2em;
        display: flex;
        flex-direction: row;
        margin-right: 0px;
        
    }

    .navigation a { 
        font-size: 0.8rem;
        margin-left: 20px;
    }

    .navigation .login {  
        width: 65px;
        height: 40px;
    }
    
    .navigation .pause {
        width: 40px;
        height: 40px;
        
    }

    .deep {
        width: 300px;
        height: 380px;
        margin-top: -40px;
    }
    .deep.active {
        height: 380px;
    }

    .container-form {
        padding: 25px;
    }

    .container-input {
        margin: 25px 0;
    }

    .container-input .icon {
        font-size: 1.4em;
    }

    .remember {
        font-size: 0.8em;
    }

    .ntb {
        height: 40px;
        font-size: 0.9em;
    }

    .register {
        font-size: 0.8em;
        margin: 20px 0 10px;
    }

    #footer-section {
        position: absolute; 
        width: 100%;
        margin-top: 570px;
        
    }


    footer {
        display: flex;
        justify-content: space-around;
        align-items: center;    
        flex-direction: column; 
        width: 100%; 
    }

    .name-list {
        display: flex;
        flex-wrap: wrap; 
        justify-content: space-around;
        align-items: center;
        gap: 1.6em;
        margin-top: -10px;
        margin-left: 0;
        width: 100%; 
    }

    .link-list {
        display: flex;
        justify-content: center;    
        margin-top: 5px;
        gap: 1.6em;
        margin-left: 12%;
        width: 100%; 
    }

    .copyright {
        margin: 12px;
        text-align: center; 
        width: 100%; 
    }
}



@media(min-width: 1300px) {

    .title {
        font-size: 4em;
    }

    .deep {
        width: 400px;
        height: 480px;
        margin-top: -60px;
    }

    .deep.active {
        height: 490px;
    }

    .deep .close-icon {
        width: 65px;
        height: 65px;
    }

    .container-form h2 {
        font-size: 3em;
    }

    .container-input label {
        font-size: 1.1em;
    }

    .container-form {
        padding: 50px;
    }

    .container-input {
        margin: 30px 0;
        height: 40px;
    }

    .container-input input {
        font-size: 1.2em;
    }

    .container-input .icon {
        line-height: -28px;
    }

    .remember {
        font-size: 1.1em;
    }

    .ntb {
        height: 60px;
        font-size: 1.2em;
    }

    .register {
        font-size: 1em;
        margin: 20px 0 10px;
    }

    .navigation .login,
    .navigation .signup,
    .navigation .pause {
        width: 120px;
        height: 60px;
    }

    #footer-section {
        position: absolute; 
        width: 100%;
        margin-top: 740px;
        
    }


    footer {
        display: grid;
        grid-template-columns: repeat 3fr;
        grid-template-rows: auto auto auto ;
        gap: 5px;
        padding: 10px;
    }

    .name-list {
        grid-column: 1 / -1;
        margin-left: 50px; 
    }

    .name-item {
        font-size: 2.6em;
    }

    .job-title {
        font-size: 1.4em;
    }

    .link-list {
        font-size: 1.9em; 
    }

    .copyright {
        grid-column: 1 / -1;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.6em;
        margin: 15px;
        margin-left:350px;
    }
}

