* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#particles-js {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0; /* Asegúrate de que esté detrás de otros elementos */
    overflow: hidden;
   
}

#toggleParticles {
    background: transparent;
    color: white;
    padding: 10px 20px;
    border: none;
    border: 2px solid #7703fc;
    cursor: pointer;
    font-size: 1.1rem;
    transition: background-color 0.3s ease;
    z-index: 2;
}

/* #5b7065, black */
body {
    background: rgba(48, 64, 64, 1.0);
    background: -webkit-radial-gradient(center, rgba(48, 64, 64, 1.0) 0%, rgba(0, 0, 0, 1.0) 100%);
    background: -moz-radial-gradient(center, rgba(48, 64, 64, 1.0) 0%, rgba(0, 0, 0, 1.0) 100%);
    background: radial-gradient(ellipse at center, rgba(48, 64, 64, 1.0) 0%, rgba(0, 0, 0, 1.0) 100%);
    font-family: 'Shadows Into Light', cursive;
    min-height: 100vh;
    z-index: 0;
}

main.page-one {
    position: realtive;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    z-index: 1;

}

.title-one {
        font-size: 4.8em; 
        color: lightgrey; 
        user-select: none; 
        cursor: row; 
        display: flex; 
        justify-content: center; 
        align-items: center; 
        margin: 60px; 
        text-shadow: 
            0 0 5px rgba(119, 3, 252, 0.7),  
            0 0 10px rgba(119, 3, 252, 0.7), 
            0 0 20px rgba(119, 3, 252, 0.8), 
            0 0 30px rgba(119, 3, 252, 0.9), 
            0 0 40px rgba(119, 3, 252, 1); 

}

.title-two {
    font-size: 2.4em;
    color: lightgrey;
    user-select: none;
    cursor: row; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 
            0 0 5px rgba(119, 3, 252, 0.7),  
            0 0 10px rgba(119, 3, 252, 0.7), 
            0 0 20px rgba(119, 3, 252, 0.8), 
            0 0 30px rgba(119, 3, 252, 0.9), 
            0 0 40px rgba(119, 3, 252, 1); 
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 30px;
}

.navigation .login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 50px;
    background: transparent;
    border: 2px solid #7703fc;
    border-radius: 6px; 
    cursor: pointer;
    font-size: 1.1rem; 
    color: lightgrey; 
    font-weight: 600; 
    position: relative;
    overflow: hidden; 
    transition: all 0.3s ease; 
    z-index: 2;
}


.navigation .login:hover {
    color: #fff; 
    border-color: #7703fc; 
    box-shadow: 0 0 10px rgba(119, 3, 252, 0.7), 
                0 0 20px rgba(119, 3, 252, 0.6), 
                0 0 30px rgba(119, 3, 252, 0.5), 
                0 0 40px rgba(119, 3, 252, 0.4); 
    text-shadow: 0 0 5px rgba(119, 3, 252, 1), 
                 0 0 10px rgba(119, 3, 252, 0.9); 
}


.navigation .login:active {
    box-shadow: 0 0 5px rgba(119, 3, 252, 0.7), 
                0 0 10px rgba(119, 3, 252, 0.6);
}

.navigation .signup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 50px;
    background: transparent;
    border: 2px solid #7703fc; 
    border-radius: 6px; 
    cursor: pointer;
    font-size: 1.1rem; 
    color: lightgrey; 
    font-weight: 600; 
    position: relative; 
    overflow: hidden; 
    transition: all 0.3s ease; 
    z-index: 2;
}


.navigation .signup:hover {
    color: lightgrey; 
    border-color: #7703fc; 
    box-shadow: 0 0 10px rgba(119, 3, 252, 0.7), 
                0 0 20px rgba(119, 3, 252, 0.6), 
                0 0 30px rgba(119, 3, 252, 0.5), 
                0 0 40px rgba(119, 3, 252, 0.4); 
    text-shadow: 0 0 5px rgba(119, 3, 252, 1),
                 0 0 10px rgba(119, 3, 252, 0.9); 
}


.navigation .login:active {
    box-shadow: 0 0 5px rgba(119, 3, 252, 0.7), 
                0 0 10px rgba(119, 3, 252, 0.6);
}




@media(min-width: 768px) {

    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        
    }

    .title-one {
        font-size: 6.8em;
    }

    .title-two {
        font-size: 3.4em;
    }

    .navigation .login .signup {
        
        width: 160px;
        height: 50px;
    }

}